<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gkhn.sendingplatform.module.prisontocourt.mapper.SysSettingPlcMapper" >
  <resultMap id="BaseResultMap" type="com.gkhn.sendingplatform.module.prisontocourt.model.SysSettingPlc" >
    <id column="s_id" property="sId" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="brower_address" property="browerAddress" jdbcType="VARCHAR" />
    <result column="depart_id" property="departId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    s_id, ip, brower_address, depart_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_setting_plc
    where s_id = #{sId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_setting_plc
    where s_id = #{sId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gkhn.sendingplatform.module.prisontocourt.model.SysSettingPlc" >
    insert into sys_setting_plc (s_id, ip, brower_address, 
      depart_id)
    values (#{sId,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{browerAddress,jdbcType=VARCHAR}, 
      #{departId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gkhn.sendingplatform.module.prisontocourt.model.SysSettingPlc" >
    insert into sys_setting_plc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sId != null" >
        s_id,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="browerAddress != null" >
        brower_address,
      </if>
      <if test="departId != null" >
        depart_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sId != null" >
        #{sId,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="browerAddress != null" >
        #{browerAddress,jdbcType=VARCHAR},
      </if>
      <if test="departId != null" >
        #{departId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gkhn.sendingplatform.module.prisontocourt.model.SysSettingPlc" >
    update sys_setting_plc
    <set >
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="browerAddress != null" >
        brower_address = #{browerAddress,jdbcType=VARCHAR},
      </if>
      <if test="departId != null" >
        depart_id = #{departId,jdbcType=VARCHAR},
      </if>
    </set>
    where s_id = #{sId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gkhn.sendingplatform.module.prisontocourt.model.SysSettingPlc" >
    update sys_setting_plc
    set ip = #{ip,jdbcType=VARCHAR},
      brower_address = #{browerAddress,jdbcType=VARCHAR},
      depart_id = #{departId,jdbcType=VARCHAR}
    where s_id = #{sId,jdbcType=INTEGER}
  </update>

  <select id="selectByIp" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from sys_setting_plc where ip = #{ip,jdbcType=VARCHAR};
  </select>
</mapper>